<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sam_chordas.android.stockhawk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">

        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
        <uses-permission android:name="android.permission.WAKE_LOCK"/>

        <permission
            android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

        <uses-permission
            android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE"/>

        <!-- My Stocks Activity -->
        <activity
            android:name="com.sam_chordas.android.stockhawk.ui.MyStocksActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Line Graph Activity -->
        <activity
            android:name=".ui.LineGraphActivity"
            android:parentActivityName=".ui.MyStocksActivity"
            android:theme="@style/GraphActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sam_chordas.android.stockhawk.ui.MyStocksActivity"/>
        </activity>

        <!-- Quote Widget Configuration Activity -->
        <activity
            android:name=".widget.QuoteWidgetConfigurationActivity"
            android:theme="@style/Widget.Configure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- Stock data provider -->
        <provider
            android:name=".data.generated.QuoteProvider"
            android:authorities="com.sam_chordas.android.stockhawk.data.QuoteProvider"
            android:exported="false"/>

        <service
            android:name="com.sam_chordas.android.stockhawk.service.StockTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.sam_chordas.android.stockhawk.service.StockIntentService"/>

        <!-- Stock Quote Widget -->
        <receiver
            android:name=".widget.QuoteWidgetProvider"
            android:label="@string/widget_quote_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.sam_chordas.android.stockhawk.ACTION_DATA_UPDATED"/>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_quote"/>
        </receiver>
        <service android:name=".widget.QuoteWidgetIntentService"/>

        <!-- Today's Market Widget -->
        <receiver
            android:name=".widget.MarketWidgetProvider"
            android:enabled="true"
            android:label="@string/widget_market_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.sam_chordas.android.stockhawk.ACTION_DATA_UPDATED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_market"/>
        </receiver>
        <service
            android:name=".widget.MarketWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>
